/**** NavBar Toggle Button ****/
.toggle {
    height: 30px; width: 30px;
    margin: 10px;
    outline: none !important;
    background: transparent;
    border: transparent;
    ::after {
        border-top: 2px solid white;
        content: "";
        position: absolute;
        height: 1px;
        width: 15px;
        left: 0px;
        top: -2px;
    }
    ::before {
        border-top: 2px solid white;
        content: '';
        position: absolute;
        height: 1px;
        width: 15px;
        left: 0px;
        top: 5px;
    }
}

.toggle-icon {
    position: relative;
}

.toggle.collapsed .toggle-icon:before {
    transform: rotate(-45deg) translate(2px, -3px);
}

.toggle.collapsed .toggle-icon::after {
    transform: rotate(45deg) translate(2px, 3px);
}

.toggle-icon:before, .toggle-icon::after {
    transition: all 0.3s linear;
}

@media only screen and (min-width: 36em) {
    .toggle {
        display: none;
        margin: 0;
        padding: 0;
        height: 0; width: 0;
    }
}

/**** Primary Bar ****/
.navbar {
    @media only screen and (min-width: 36em) {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

/**** Links ****/

.nav-link {
    margin-left: 5vw;
    margin-right: 5vw;
}

/**** Main Logo ****/
$yellow: #FFDB79;

.navbar-brand {
    @media only screen and (min-width: 36em) {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    :hover .logo {
        animation: switch 3s infinite;
        animation: fillChange 3s infinite;
    }
}
  
@keyframes switch {
    50% {
        opacity: 1;
    }
}
  
@keyframes fillChange {
    50% {
        fill: grey;
    }
}